body {
    background-color: rgb(113, 93, 230);
    color: rgb(32, 218, 103);

    font-family: "Edu NSW ACT Hand Pre", cursive;

    margin: 0px;
}

header {
    font-size: 50px;
    border-bottom: double 5px rgb(194, 49, 73);
    padding: 30px;
    text-align: center;
}

h1{
    font-size: 30px;
}

p {
    font-size: 20px;
}